= link_to 'Create a new game', new_game_record_path

%h3 Here's a buncha games:
%table
  %tr
    %th ID
    %th Created At
    %th Rounds
    %th Winners
  - @game_records.each do |game_record|
    %tr
      %td= link_to("#{game_record.id}", game_record_path(game_record))
      %td Created at: #{game_record.created_at}
      %td Rounds: #{game_record.rounds}
      %td Winners: #{game_record.winners.map {|player| player.role + ", " + player. brain}}
