= form_for :game_record, url: game_records_path do |f|
  .form-group
    -@brains.each do |brain|
      %p
      "#{brain.first}:"
      = f.text_field brain.first, value: brain.second, class: 'form-control'
  .form-group
    %p
    = f.label :number_of_games
    %p
    = f.text_field :number_of_games, value: 10, class: 'form-control'
    %p.button
    = f.submit
