= form_for :game_record, url: game_records_path do |f|
  = f.select(:brains, @brains,{},{ multiple: true, size: @brains.size })
  %br
  = f.label :number_of_games
  %br
  = f.text_field :number_of_games, value: 10
  %p.button
  = f.submit
