= link_to 'View All Games', game_records_path

%h2 Created: #{@game_record.created_at}
%h3 Players:
%table{:border => 1, class: 'table-bordered table-striped'}
  %tr
    %th Brain
    %th Role
    %th Character
  - @game_record.player_records.each do |player_record|
    %tr
      %td= player_record.brain
      %td= player_record.role
      %td= player_record.character

%h3 Events:
%table{:border => 1, class: 'table table-condensed'}
  %tr
    %th Player
    %th Event
    %th Info
  - @game_record.event_records.each do |event_record|
    %tr{class: class_for(event_record) }
      %td= event_record.player_record
      %td= event_record.eventtype
      %td= format_event_record(event_record)
