%h2 Created: #{@game_record.created_at}
%h3 Players:
%table{:border => 1, class: 'table-bordered'}
  %tr
    %th Brain
    %th Role
    %th Character
    %th Won?
  - @game_record.player_records.each do |player_record|
    %tr{class: class_for_player(player_record)}
      %td= player_record.brain
      %td= emoji_for([player_record.emoji_string_for_role])
      %td= player_record.character
      %td= emoji_for(player_record.won? ? ['white_check_mark'] : ['x'])

%h3 Events:
%table{:border => 1, class: 'table table-condensed'}
  %tr
    %th Player
    %th Event
    %th Info
  - @game_record.event_records.each do |event_record|
    %tr{class: class_for_event(event_record) }
      %td= emoji_for(event_record.player_record.try(:to_s_with_emoji_string) || [])
      %td= (emoji_for(event_record.eventtype_with_emojis) || '') + event_record.eventtype
      %td= emojify(format_event_record(event_record))
